.content{
    display:flex;
    justify-content:space-evenly;
    
    flex-wrap: wrap;
}
.watch{
    background-color: rgb(0, 0, 0);
    width:27%;
    height:fit-content;
    color:white;
    padding-bottom: 1em;
    border-radius: 7px; 
    margin-bottom: 2.5em;  
}
img {
    padding:1.5em;
    width:100%;
    height:500px;
}
.lower{
    height:400px;
}
#dragon{
    height:384px;
}
#naruto{
    height:423px;
}
h3{
    text-align: center;
    color:rgb(247, 132, 65);
    
}
h1{
    text-align: center;
    font-family: 'Archivo', sans-serif;
    letter-spacing: 0.25em;
    color:black;
    /* position: relative; */
    /* top:50px; */
    
}
body{
    background: rgb(246,189,16);
    background: linear-gradient(90deg, rgb(236, 150, 20) 6%, rgba(227,58,58,1) 100%);
}
#alerts{
    border:0.5px solid black;
    border-radius: 0.2rem;
    background-color: rgb(252, 162, 102);
    padding:0.2em 0.7em;
}
nav li{
    color: white;
    list-style: none;
    display: inline;
    margin-right: 8px;
    

}
#empty{
    width:100px; height:75px;
}
nav{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 10em;
    width: 100%;
    
} 
li:hover{
    color: rgba(184, 32, 5, 0.945);
    cursor: pointer;
}
    
#fixing nav{
    position:fixed;

}

#search{
    padding-right: 0.5em;
    margin:0;
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.navbar{
    padding: 1em 0.25em;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display: none;
}select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select{
    background-color:#212529;
    border:none;
    color:white;
}
#link{
    color: inherit;
    text-decoration: none;
}

@media(max-width:900px){
    .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    img{
        margin-bottom: 20px;
        width: 400px;
    }
    

    .watch{
        width: fit-content;
    }

   

}