@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

#chat-text {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

/* hides scrollbar */
#chat-text::-webkit-scrollbar {
  display: none;
}

.wrapper {
  width: 100%;
  padding: 15px;
}

.ai {
  background: #57adf8;
  color: coral;
  border-radius: 4px;
}

.chat {
  /* width: 100%; */
  /* max-width: 1280px; */
  margin: 0 auto;
  /* background-color: #fff; */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  background: #5436da;

  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  flex: 1;

  color: rgb(242, 222, 215);
  font-size: 20px;

  max-width: 100%;
  overflow-x: scroll;

  white-space: pre-wrap;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hides scrollbar */
.message::-webkit-scrollbar {
  display: none;
}
