@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:wght@400;500;600;700;800&family=Karla:ital,wght@0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #fff;
    background: #09001d;
    overflow: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none; 
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover{
    color: #c40094;
}

.main {
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(234,0,181,1) 100%);
    /* background: #000; */
    pointer-events: auto;
    background-position: center;
    transition: .3s ease;
}

.main.active{
    filter: blur(10px);
    pointer-events: none;
}

.container{
    display: flex;
    height: 100vh;
    width: 200%;
}

.home{
    position: relative;
    left: -50%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0 0 .3);
}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0 0 .3);
    margin-bottom: 30px;
}

.start-btn{
    width: 190px;
    height: 55px;
    background: #c40094;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    color: white;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.start-btn:hover{
    background: #09001d;
    box-shadow: none;
}

.popup-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.popup-info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1.2);
}

.popup-info h2 {
    font-size: 52px;
    color: #c40094;
}

.info {
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0px 7px;
}

.info-btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #c40094;
    color: white;
    border: 2px solid #c40094;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0 0 .3);
    cursor: pointer;
    transition: 0.5s;
}

.info-btn:nth-child(1){
    background: transparent;
    color: #c40094;
}
.info-btn:nth-child(1):hover{
    background: #c40094;
    color: #fff;
}
.info-btn:nth-child(2):hover{
    background: #950170;
    border-color: #950170;
}

.quiz-section{
    width: 100%;
    background-color: #09001d;
    position: relative;
    left: -50%;
    /* left: 0; */
    transition: .25s ease-in-out;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-section.active{
    left: 0;
}

.quiz-section .quiz-box{
    position: relative;
    width: 500px;
    background: transparent;
    border: 2px solid #c40094;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    transition: .3s ease-in;
    transition-delay: 0s;
}

.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, #c40094, transparent);
    border-radius: 6px;
}

.quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 0.7s ease-in;
    transition-delay: .5s;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #c40094;
    margin-bottom: 30px;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.header-score{
    background: #c40094;
    border-radius: 3px;
    padding: 7px;
}

.question-text{
    font-size: 24px;
    font-weight: 600;   
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 3px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}

.disable{
    pointer-events: none;
}

.option-list .option.correct{
    background: #09001d;
    color: #00a63d;
    border-color: #00a63d;
}

.option-list .option.incorrect{
    background: #09001d;
    color: #a60045;
    border-color: #a60045;
}

.option-list .option:hover{
    background: rgba(255, 255, 255, .1);
    border-color: #c40094;
}

.quiz-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #c40094;
    padding-top: 20px;
    margin-top: 30px;
}

.quiz-footer .question-total{
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn{
    width: 100px;
    height: 45px;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: .3s;
}

.quiz-footer .next-btn.active{
    pointer-events: auto;
    background: #c40094;
    border-color: #c40094;
    color: #fff;    
}

.quiz-footer .next-btn.active:hover{
    background: #950170;
    border-color: #950170;
}

.quiz-section .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    width: 500px;
    background: transparent;
    border: 2px solid #c40094;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.7s ease-in;
    transition-delay: .5s
}

.result-box h2 {
    font-size: 52px;
}

.result-box .percentage-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage-container .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#c40094 3.6deg, rgba(255, 255, 255, .1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage-container .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #09001d;
    border-radius: 50%;
}

.circular-progress .progress-value {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.percentage-container .score-text {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;
}

.buttons button {
    width: 130px;
    height: 47px;
    background: #c40094;
    color: white;
    border: 2px solid #c40094;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}

.buttons button:nth-child(1):hover {
    background: #950170;
    border-color: #950170;
}

.buttons button:nth-child(2) {
    background: transparent;
    color: #c40094;
}

.buttons button:nth-child(2):hover {
    background: #c40094;
    color: #fff;
}

