@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*
    HEADER
*/

header{
    width: 100%;
    height: 86px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(238, 238, 238);
    background-color: white;
    display: flex;
    align-items: center;
}
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
}
.header-left {
    margin-left: 32px;
    margin-right: 100px;
}
.header-location {
    margin-right: 40px;
}
.header-location-title {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 19px;
}
.header-location-desc {
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
}
.header-search {
    width: 832px;
    height: 46px;
    cursor: text;
    border: 1px solid rgba(0, 0, 0, 0.04);
    padding: 0px 12px;
    border-radius: 12px;
    background: rgb(248, 248, 248);
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 70px;
}
.header-search svg {
    width: 20px;
    font-weight: 600;
}
.header-search input {
    background-color: transparent;
    border: none;
    outline: none;
}
.header-login {
    font-size: 18px;
    font-weight: 400;
    color: rgb(54, 54, 54);
    margin-right: 70px;
}
.header-right {
    width: 112px;
    height: 52px;
    background-color: rgb(12, 131, 31);
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-right svg {
    width: 24px;
    margin-right: 8px;
}

/* 
    MAIN
*/
main {
    display: flex;
    justify-content: center;
}
.main-container {
    max-width: 1280px;
}
.section-1, .section-1 img {
    width: 100%;
}
.section-2 {
    margin: 0 16px;
    display: flex;
    overflow: auto scroll;
    gap: 20px;
    border-radius: 12px;
}
.section-2-img {
    height: 195px;
    width: 335.4px;
    cursor: pointer;
    display: flex;
}
.section-2-img img {
    height: 100%;
}
.section-3 {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
}
.section-3-img {
    width: 128px;
}
.section-3-img img {
    width: 100%;
}
.section-4 {
    margin: 16px;
}
.section-header {
    font-size: 24px;
    font-weight: 500;
}
.section-list {
    margin-top: 16px;
    width: 100%;
    display: flex;
    overflow: auto scroll;
    gap: 20px;
}
.product-card {
    padding: 12px;
    width: 154px;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 8px;
}
.product-card img {
    width: 100%;
}
.product-card-title {
    font-size: 14px;
    margin-bottom: 2px;
}
.product-card-desc {
    font-size: 12px;
    margin-bottom: 12px;
    color: #757575;
}
.product-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-action button {
    width: 90px;
    height: 36px;
    background-color: rgb(247, 255, 249);
    border: 0.5px solid rgb(12, 131, 31);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-qty {
    font-size: 14px;
}

/* 
    FOOTER
*/

footer {
    margin-top: 32px;
    padding: 20px;
    text-align: center;   
}