* {
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 127, 127);
    font-family: 'Arial', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 70%;
    background-color: rgb(254, 254, 229);
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.heading {
    font-size: 2.5rem;
    color: rgb(0, 139, 79);
    font-weight: bold;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.input label {
    font-size: 1.5rem;
    color: rgb(0, 139, 56);
    font-weight: bold;
}

.input input {
    width: 80%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(0, 139, 65);
}

.output {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.output button {
    padding: 10px 20px;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(247, 73, 73);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.output button:hover {
    background-color: rgb(150, 0, 102);
}

.output-box {
    margin-top: 20px;
    width: 80%;
    background-color: rgb(224, 255, 228);
    padding: 15px;
    border-radius: 0.5rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    color: rgb(1, 78, 12);
    font-weight: bold;
}