@import url("https://fonts.googleapis.com/css?family=Courgette|Roboto");
* {
  box-sizing: border-box;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-left: 56.25%;
  height: 56.25%;
  padding-bottom: 50%;
  align-items: center;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote {
  position: relative;
  padding-left: 1.5rem;
  font-family: "Courgette", serif;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
}

blockquote:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: #A9DFBF;
  border-radius: 60px;
}

figure {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero-inner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
}

@supports (-webkit-overflow-scrolling: touch) {
  .hero-inner {
    clip: unset;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.hero__title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  color: #f2f2f2;
  font-family: "Courgette", serif;
  font-size: 8vw;
  letter-spacing: -0.125rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 6rem;
  }
}

.content {
  position: relative;
  margin: 0 auto 8rem;
  padding: 2rem;
}
.content:before {
  content: "";
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 99;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.content__inner {
  margin: 0 auto;
  max-width: 700px;
}
.content__inner > * + * {
  margin-top: 1.5rem;
}
.content__inner > blockquote {
  margin: 3rem 0;
}

.content__title {
  font-family: "Courgette", serif;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.125rem;
  text-align: center;
}
@media (min-width: 600px) {
  .content__title {
    font-size: 4rem;
  }
}

.content__author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
  font-family: "Courgette", serif;
  font-size: 1.5rem;
  letter-spacing: -0.125rem;
  text-align: center;
}
.content_author:before, .content_author:after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #A9DFBF;
}
.content__author:before {
  margin-right: 1rem;
}
.content__author:after {
  margin-left: 1rem;
}

.bg-text {
  background-repeat: no-repeat;
  background-color: #d8eacc;
  color: rgb(206, 68, 68);
  font-weight: bold;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
}
.isl{
  color: black;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 100%;
  height: 100%;
  /* padding: 20px; */
}

a {
  color: #337ab7;
}
p {
  margin-top: 1rem;
}
a:hover {
  color:#23527c;
}
a:visited {
  color: #8d75a3;
}

body {
	line-height: 1.5;
	font-family: sans-serif;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color:black;
	margin:2em;
}

h1 {
	text-decoration: underline red;
	text-decoration-thickness: 3px;
	text-underline-offset: 6px;
	font-size: 220%;
	font-weight: bold;
  color: #ed341d;
}

h2 {
	font-weight: bold;
	color: #005A9C;
	font-size: 140%;
	text-transform: uppercase;
}

red {
	color: red;
}

#controls {
  display: flex;
  margin-top: 2rem;
  max-width: 28em;
  margin: 0 auto;
} 

button {
  flex-grow: 1;
  height: 3.5rem;
  min-width: 2rem;
  border: none;
  border-radius: 0.15rem;
  background: #ed341d;
  margin-left: 2px;
  box-shadow: inset 0 -0.15rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 1.5rem;
}

button:hover, button:focus {
  outline: none;
  background: #c72d1c;
}

button::-moz-focus-inner {
  border: 0;
}

button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}

button:disabled {
  pointer-events: none;
  background: lightgray;
}
button:first-child {
  margin-left: 0;
}

audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}

#recordingsList{
	max-width: 28em;
}
