.container , .H
  {
    display:flex;
    justify-content: center;
  }

#square {
    height: 200px;
    width: 200px;
    background-color: rgb(0,0,0);
    
  }

body{
  background-color: rgb(220, 220, 220);
} 
#hexa
{
  font: bolder;
  font-size: larger;
  font-weight: bolder;
  border:black 2px solid;

}
.H
{
  padding: 5px;
}