*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #011F3F;
  color: #FEF2BF;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin: 3% 0 2% 0;
  color: #FEF2BF;
  line-height: 1.6;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#info {
  margin: 5% 10%;
  padding: 0 0 3rem 0;
  background-color: rgb(61, 61, 104);
  border-radius: 10px; 
  line-height: 2;
}

#info-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  padding: 2rem;
  color: blanchedalmond;
  text-decoration: underline;
  font-weight: 700;
}

#info-text {
  font-family: 'Press Start', cursive;
  margin: 10px;
}

#info-text span {
  color: greenyellow;
}

#info-text .blue-span {
  color: blue;
}

#info-text .red-span {
  color: red;
}

footer {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin: 3%;
  line-height: 1.6;
}

#web-link {
  font-family: 'Press Start 2P', cursive;  
  color: #FEF2BF;
  text-decoration: none;
}

#web-link :hover {
  color : blue;
}