/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background: rgb(245, 125, 145);
}
::selection{
  color: #fff;
  background: rgb(245, 125, 145);
}
.wrapper{
  margin: 50px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
  height: 250px;
  list-style: none;
  border-radius: 5px;
  padding: 15px 20px 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
.add-box, .icon, .bottom-content, 
.settings .menu li, header, .popup{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-box{
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
}
.add-box .icon{
  height: 78px;
  width: 78px;
  color: rgb(245, 125, 145);
  font-size: 40px;
  border-radius: 50%;
  justify-content: center;
  border: 2px dashed rgb(245, 125, 145);
}
.add-box p{
  color: rgb(245, 125, 145);
  font-weight: 500;
  margin-top: 20px;
}
.note{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note .details{
  max-height: 165px;
  overflow-y: auto;
}
.note .details::-webkit-scrollbar,
.popup textarea::-webkit-scrollbar{
  width: 0;
}
.note .details:hover::-webkit-scrollbar,
.popup textarea:hover::-webkit-scrollbar{
  width: 5px;
}
.note .details:hover::-webkit-scrollbar-track,
.popup textarea:hover::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.note .details:hover::-webkit-scrollbar-thumb,
.popup textarea:hover::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.note p{
  font-size: 22px;
  font-weight: 500;
}
.note span{
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}
.note .bottom-content{
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.bottom-content span{
  color: #6D6D6D;
  font-size: 14px;
}
.bottom-content .settings{
  position: relative;
}
.bottom-content .settings i{
  color: #6D6D6D;
  cursor: pointer;
  font-size: 15px;
}
.settings .menu{
  z-index: 1;
  bottom: 0;
  right: -5px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: bottom right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.settings.show .menu{
  transform: scale(1);
}

.settings .menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0;
  justify-content: flex-start;
}
.menu li:last-child{
  margin-bottom: 0;
}
.menu li:hover{
  background: #f5f5f5;
}
.menu li i{
  padding-right: 8px;
}
.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    z-index: 2;
}
.popup-box .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    max-width: 400px;
    width: 100%;
    justify-content: center;
}
.popup-box , .popup-box .popup {
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
}
.popup-box.show, .popup-box.show .popup{
    opacity: 1;
    pointer-events: auto;
}
.popup .content {
    background: #fff;
    border-radius: 5px;
    width: calc(100%-15px);
}
.popup .content header {
    border-bottom: 1px solid #ccc;
    padding: 15px 25px;
}

.content header p {
    font-weight: 500;
    font-size: 20px;
}

.content header i {
    color: #8b8989;
    cursor: pointer;
    font-size: 23px;
}
.content form {
    margin: 15px 25px 35px;
}
.content form :where(input, textarea) {
    width: 100%;
    border: 1px solid #999;
    border-radius: 4px;
    outline: none;
    height: 50px;
    font-size: 17px;
    padding: 0 15px;
}
.content form .row {
    margin-bottom: 20px;
}
.content .row label {
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}

.content form textarea {
    height: 150px;
    resize: none;
    padding: 8px 15px;
}

.content form button {
    width: 100%;
    height: 50px;
    background: rgb(245, 125, 145);
    border: none;
    outline: none;
    color: #fff;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
}