*{margin : 0; padding: 0; box-sizing : border box;}
.row{
	margin: 0%;
	padding: 0%;
}
.table1{
	font-size: 15px;

}
td {
	text-align: center;
}

.tablerow:hover {
background-color: #f2f2f2;
}
.align1{
	border: 1px solid black;
  background-color: lightblue;
  margin-top: 500px;
  margin-right: 30px;
  margin-bottom: 50px;
  margin-left: 80px;
}
